<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>[[${pageTitle}]]</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>
<div class="container-fluid text-center">
    <div>

        <h2>Danh Sách Đã Đăng Ký Thi</h2>[[${pageTitle}]]
    </div>
    <div class="m-2">
        <a class="h4 m-2" th:href="@{/users/new}">Đăng Ký</a>
    </div>

    <div th:if="${message}" class="alert alert-success text-center">
        [[${message}]]
    </div>


    <div>
        <table class="table table-bordered">
            <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Gmail</th>
                <th>Họ và Tên Đệm</th>
                <th>Tên</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="user : ${listUsers}">
                <tr>
                    <td>[[${user.id}]]</td>
                    <td>[[${user.email}]]</td>
                    <td>[[${user.firstName}]]</td>
                    <td>[[${user.lastName}]]</td>
                    <td>
                        <a class="h6 mr-3 " th:href="@{'/users/edit/' + ${user.id}}">Chỉnh Sửa</a>
                        <a class="h6 " th:href="@{'/users/delete/' + ${user.id}}">Xóa</a>
                    </td>
                </tr>
            </th:block>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>